*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about_main_box
{
    width: 100%;
    min-height: 100vh;
    background-image: url(/img/about.avif);
    background-size: cover;

}

.about_main_box .about_contant 
{
    transform: translate(-50%,-50%);
    width: 50%;
    min-height: 200px;
    border: 2px solid red;
    position: relative;
}
.about_contant h1
{
    position: absolute;
    top: 50vh;
    /* left: 50px; */
    color: aliceblue;
}
.about_contant h1
{
    position: absolute;
    top: 50vh;
    left: 50px;
    color: aliceblue;
}